/* grandezze */
/* colori */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
}
header .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
header .top {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 35%;
}
header .top ul li i {
  color: #009cff;
}
header .top ul li a {
  color: lightgray;
}
