/* grandezze */
/* colori */
/* margin e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #e8e8e8;
}

header {
  width: 100%;
  height: 100px;
  background-color: black;
}
header .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
header .top {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 35%;
}
header .top ul li i {
  color: #009cff;
}
header .top ul li a {
  margin-left: 5px;
  color: lightgray;
}
header .top ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
header .bottom {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .bottom .logo img {
  height: 30%;
}
header .bottom ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
header .bottom ul li {
  height: 100%;
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .bottom ul li:hover {
  background-color: #fff;
}
header .bottom ul li:hover a {
  color: black;
}
header .bottom ul li a {
  color: #fff;
}
header .bottom ul li i {
  margin-left: 5px;
  font-size: 12px;
  color: lightgray;
}
header .bottom ul li .drop-down {
  width: 200px;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 0;
}
header .bottom ul li .drop-down ol {
  width: 100%;
}
header .bottom ul li .drop-down ol li {
  line-height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom ul li .drop-down ol li:hover {
  background-color: lightgray;
  cursor: pointer;
}
header .bottom ul li .drop-down ol li:hover i {
  color: black;
}
header .bottom ul li:hover .drop-down {
  opacity: 1;
  z-index: 1;
}

.jumbo {
  width: 100%;
  height: 500px;
  background-image: url("../img/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.jumbo .container {
  position: relative;
}
.jumbo .content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.jumbo .logo {
  width: 20%;
}
.jumbo .logo img {
  width: 100%;
}
.jumbo p {
  max-width: 50%;
  font-size: 28px;
  margin: 20px 0;
}
.jumbo h3 {
  margin-top: 40px;
}
.jumbo span {
  font-size: 20px;
}
.jumbo h3,
.jumbo span {
  color: #c70cb9;
}
.jumbo .btn-box {
  margin-top: 40px;
}
.jumbo .btn-box .btn:first-of-type {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: black;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 22px 32px;
  margin-right: 20px;
}
.jumbo .btn-box .btn:last-of-type {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

main h1 {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
main .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
main .container .top {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .top .box {
  flex-basis: 32%;
}
main .container .top .box .img-container {
  height: 200px;
}
main .container .top .box .img-container img {
  width: 100%;
}
main .container .top .box .text-container {
  padding: 30px;
  background-color: #fff;
}
main .container .top .box .text-container h3,
main .container .top .box .text-container p {
  font-size: 20px;
}
main .container .top .box .text-container p {
  margin: 30px 0;
}
main .container .top .box .text-container a {
  font-size: 18px;
  color: #009cff;
}
main .container .top .box .text-container a:hover {
  text-decoration: underline;
}
main .container .center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
}
main .container .center .box,
main .container .center .box-img {
  height: 300px;
  flex-basis: 50%;
}
main .container .center .box {
  padding: 40px 30px;
  color: #fff;
  background-color: #3c1567;
}
main .container .center .box:nth-child(2n) {
  background-color: #3c3c3c;
}
main .container .center .box#last {
  background-color: #0072bc;
}
main .container .center .box span {
  font-size: 30px;
}
main .container .center .box p {
  margin: 30px 0;
  line-height: 1.6;
  font-size: 25px;
}
main .container .center .box .btn {
  display: inline-block;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  color: #3c1567;
  cursor: pointer;
  padding: 10px 20px;
}
main .container .center .box .btn:hover {
  background-color: lightgray;
}
main .container .center .box-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://www.painterartist.com/static/ptr/images/home/wacom-painter.jpg");
}
main .container .center .box-img img {
  width: 70%;
}
main .container .center .box-img:nth-of-type(3) {
  background-image: url("https://www.painterartist.com/static/ptr/images/home/painter-master.jpg");
  background-size: contain;
}
main .container .center .box-img#last-img {
  background-image: url("https://www.painterartist.com/static/ptr/images/home/business-education.jpg");
  background-position: center;
}

footer {
  width: 100%;
  height: 400px;
}
footer .top {
  width: 100%;
  height: 70%;
  padding: 20px 0;
  background-color: lightgray;
  position: relative;
}
footer .top .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
footer .top .container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .top .container .box {
  flex-basis: 20%;
}
footer .top .container .box ul li {
  margin: 5px 0;
}
footer .top .container .box ul li a {
  color: #636363;
}
footer .top .container .box ul li:hover a {
  text-decoration: underline;
}
footer .top .container .social {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 25px;
}
footer .top .container .social i {
  cursor: pointer;
}
footer .top .container .social i:nth-of-type(1) {
  color: #e4405f;
}
footer .top .container .social i:nth-of-type(2) {
  color: #3b5998;
}
footer .top .container .social i:nth-of-type(3) {
  color: #1da1f2;
}
footer .top .container .social i:nth-of-type(4) {
  color: #cd201f;
}
footer .top .container .social i:nth-of-type(5) {
  color: #bd081c;
}
footer .top .container .social i:nth-of-type(6) {
  color: #ff8d00;
}
footer .bottom {
  width: 100%;
  height: 30%;
  background-color: black;
}
footer .bottom .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
footer .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .left {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .bottom .left img {
  margin-right: 20px;
}
footer .bottom .right a {
  margin-right: 20px;
  color: #636363;
}
footer .bottom .right a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .bottom .right span {
  color: #fff;
}
