@mixin container {
  .container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
}

@mixin flex ($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin background-img {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin btn ($bg: transparent, $border: none, $color:black) {
  display: inline-block;
  padding: $p-btn;
  text-transform: uppercase;
  background-color: $bg;
  border: $border;
  color: $color;
  cursor: pointer;
}