/* grandezze */
$h-100: 100px;
$h-200: 200px;
$h-500: 500px;
$h-400: 400px;
$w-200: 200px;

/* colori */
$black: black;
$lightblue: #009cff;
$lightgray: lightgray;
$white: #fff;
$pink: #c70cb9;
$gray: rgb(99, 99, 99);

/* margin e padding */
$ml-5: 5px;
$ml-10: 10px;
$ml-20: 20px;
$ml-30: 30px;
$ml-40: 40px;
$mt-40: 40px;
$mtb-20: 20px 0;
$mtb-30: 30px 0;
$mtb-5: 5px 0;
$mr-20: 20px;
$mr-10: 10px;

$plr-10: 0 10px;
$p-10: 10px;
$p-30: 30px;
$ptb-20: 20px 0;
$p-btn: 20px 30px;
