/* grandezze */
$h-100: 100px;
$w-200: 200px;

/* colori */
$black: black;
$lightblue: #009cff;
$lightgray: lightgray;
$white: #fff;

/* margin e padding */
$ml-5: 5px;
$ml-10: 10px;
$ml-20: 20px;
$ml-30: 30px;
$ml-40: 40px;
$mtb-20: 20px 0;

$plr-10: 0 10px;
$p-10: 10px;
